/* ------- FONTS ------- */
@font-face {
    font-family: "FiraSans-Bold";
    src: url(../fonts/FiraSans-Bold.ttf);
}
@font-face {
    font-family: "FiraSans-ExtraBold";
    src: url(../fonts/FiraSans-ExtraBold.ttf);
}
@font-face {
    font-family: "FiraSans-Light";
    src: url(../fonts/FiraSans-Light.ttf);
}
@font-face {
    font-family: "FiraSans-Regular";
    src: url(../fonts/FiraSans-Regular.ttf);
}
@font-face {
    font-family: "FiraSans-Thin";
    src: url(../fonts/FiraSans-Thin.ttf);
}
@font-face {
    font-family: "Lato-Bold";
    src: url(../fonts/Lato-Bold.ttf);
}
/* --------------------- */
* {
    box-sizing: border-box;
    overflow-x: hidden;
}
.header {
    position: relative;
    background: url(../images/HERO\ IMAGE.jpg) top center no-repeat; 
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* padding-bottom: 200px; */
    min-height: 100vh;
    z-index: 0;
  }

  .header:after {
    content: '';
    background: #1fe3ed57;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .contetheader {
      position: relative;
      z-index: 2;
  }
  .contetheader .navbar .container .navbar-brand {
      background-color: #000;
      color: #fff;
      font-size: 36px;
      padding: 5px 20px;
      font-family: "FiraSans-ExtraBold";
  }
  .contetheader .navbar .container .colorbuttomenu, .contetheader .navbar .container .colorbuttomenu .navbar-toggler-icon {
      color: #000;
      font-size: 24px;
  }
  .menutext {
    font-family: "FiraSans-Thin";
    font-weight: bold;
      font-size: 12px;
  }
  .navbar-toggler:hover {
    box-shadow: 0 0 5px #000000;
  }
  .navbar-toggler:focus {
    -webkit-box-shadow: 0 0 5px #000000;
    box-shadow: 0 0 5px #000000;
}
.offcanvas-body .navbar-nav .nav-item .nav-link, .navbar .container .offcanvas .offcanvas-header .colorexit {
    color: #fff;
}

.offcanvas-body .navbar-nav .nav-item .nav-link:hover {
    color: rgb(167, 167, 167);
}
.intro__text {
    width: 100%;
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.intro__title {
    font-size: 72px;
}
.intro__tetx {
    font-size: 30px;
    font-family: "FiraSans-Light";
}
.JohnDoe {
    font-family: "FiraSans-Bold";
}
.abouttext {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about__title {
    font-size: 24px;
    color: #666;
    font-family: "FiraSans-Bold";
    text-transform: uppercase;
}
.about__text {
    /* max-width: 70%; */
    color: #666;
    line-height: 1.2;
    font-size: 36px;
    font-family: "FiraSans-Light";
}
.aboutimg {
    width: 100%;
    height: 100%;
}
.img__about {
    display: block;
    position: relative;
}
.bgabouthover:hover .bgimgabout {
    background: #ed1f225b;
}
.bgimgabout {
    top: 0;
    position:absolute;
    width: 100%;
    height:100%;
    transition: .3s;
}
.bgimggallery {
    top: 0;
    position:absolute;
    width: 100%;
    height:100%;
    z-index: 2;
    transition: .3s;
}
.bgimggallery:hover {
    background: #ed1f225b;
}
.bgcolorgallarys {
    background-color: #3f729b;
}
.gallary__inner {
    padding: 20px 40px;
    max-width: 70%;
}
.msucs__inner {
    padding: 100px 40px;
    max-width: 90%;
}
.btninsta {
    text-transform: uppercase;
    text-decoration: none;
    font-family: "FiraSans-Regular";
    letter-spacing: 3px;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 25px;
    color: #fff;
}
.btninsta:hover {
    border: 2px solid #ed1f225b;
    color: #fff;
    background: #ed1f2227;
}
.bgmusic {
    background-color: #212227;
}
.musicitem {
    width: 100%;
    height: 100%;
}
.about__suptitle {
    font-family: "FiraSans-Regular";
    text-transform: uppercase;
    font-size: 18px;
}
.cologreen {
    text-align: left;
    color: #2ebd59;
}
.music__text {
    font-family: "FiraSans-Regular";
    margin-top: 20px;
    line-height: 1.6;
    font-size: 14px;
}
.btnspoti {
    margin-top: 10px;
    margin-right: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "FiraSans-Regular";
    letter-spacing: 3px;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 25px;
    color: #fff;
}
.btnspoti:hover {
    border: 2px solid #2ebd59;
    color: #fff;
    background: #2ebd59;
}
.bggreenspoti {
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    z-index: -1;
    background-color: #2ebd59;
}
.bggrayspoti {
    width: 50%;
    height: 100%;
    right: 0;
    position: absolute;
    z-index: -1;
    background-color: #282b2f;
}
@media (max-width: 991.5px) {
    .bggrayspoti {
        width: 100%;
    }
}
.btnitunehov:hover {
    border: 2px solid #fff;
    background-color: #fff;
    color: #282b2f;
}
.btnspotihov:hover {
    border: 2px solid #fff;
    background-color: #fff;
    color: #2ebd59;
}
.msucs__inneritune {
    padding: 100px 30px;
    max-width: 90%;
}
.footer {
    background-color: #212227;
}
.z-index-minus {
    z-index: -2;
}
.footer__text {
    color: #919191;
}
.social {
    color: #919191;
    text-decoration: none;
}
.social i {
    margin-right: 10px;
}
.social:hover i {
    color: #919191;
}
.social:hover {
    color: #fff;
}
.form-control {
    background-color: #4d4e52;
    padding: 15px;
    border: 0;
    color: gray;
    border-bottom: 1px solid #4d4e52;
    border-radius: 0;
    padding-right: 50px;
}
.form-control:focus{
    border-bottom: 1px solid #ed1f225b;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    background-color: #4d4e52;
}
.form-control::placeholder {
    text-transform: uppercase;
}
.bi-arrow-right-short {
    font-size: 32px;
    color: gray;
}
.btnabsolute {
    top: -3px;
    right: 0;
}
.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.sponcor__logo {
    color: #fff;
    padding: 25px 20px;
    text-transform: uppercase;
    border: 2px solid #fff;
    margin-right: 20px;
    margin-bottom: 20px;
}
.itunesflex {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}